%h2 Profile

%div
  = "First Name: #{current_user.first_name}"
%div
  = "Last Name: #{current_user.last_name}"
%div
  = "Email: #{current_user.email}"

%div
  = link_to('Logout', destroy_user_session_path, method: :delete)


